* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2F80ED;
    --bg-main-color: #fff;
    --max-width: 1240px;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Maven Pro", sans-serif;
}

body {
    background-color: var(--bg-main-color);
}

.container {
    background-color: white;
    width: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}